.commentSection{
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.commentSection h6{
    margin: 0;
    font-weight: bold;
}

.commentSection p:nth-child(2){
    margin-bottom: 16px;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    font-style: italic;
}

.commentSection p:nth-child(3){
    font-family: Montserrat, sans-serif;
    font-size: 13px;
}

@media(max-width: 500px){
    .commentSection h6{
        font-size: 14px;
    }
    .commentSection p:nth-child(2){
        font-size: 12px;
    }
    .commentSection p:nth-child(3){
        font-size: 12px;
    }
}

